:root{
    --maincolor:#ff7f08;
    --secondarycolor:#000000; 

    --bordercolor:#164d56; 

	--mainText:#fff;
	--secondaryText:#eeeeee;
    --themedotborder:#fff; 
    --previewBg:#000;
    --previewshadow:#ff7f08 ;

    
}

footer{
	background-color: #000000;
            padding: 10px 0px;
            margin-top:120px;
}
