:root{
    --maincolor:#5a2237;
    --secondarycolor:#050505; 

    --bordercolor:#010200; 

	--mainText:#fff;
	--secondaryText:#eeeeee;
    --themedotborder:#fff; 
    --previewBg:#000;
    --previewshadow:#5a2237 ;

}