*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: greenyellow
}

.box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 390px;
    height: 50%;
    margin: auto;
    border: 5px solid black;
    background: linear-gradient(to right, hsl(255,100%,50%), hsl(175,100%,50%));
}

input[type=text]
{
    width: 100%;
    font-weight: bold;
    font-size: 19px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}


input[type=button]{
    position: relative;
    background: yellowgreen;
    text-align: center;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    width: 90px;
    border-radius: 5px;
}

#delete{
    width: 100%;
}